<table class="type-1" data-country="Georgia" data-weight-type="lbs">
    <thead>
    <tr>
        <td rowspan="2"></td>
        <td colspan="2">Авиа</td>
    </tr>
    <tr>
        <td>Бишкек</td>
        <td>Остальная<br>территория</td>
    </tr>
    </thead>
    <tr>
        <td>Минимальный вес посылки, фунтов</td>
        <td>10</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Минимальная стоимость</td>
        <td>$27.90</td>
        <td>$37.90</td>
    </tr>
    <tr>
        <td>Стоимость за 1 фунт</td>
        <td>$2.79</td>
        <td>$2.79</td>
    </tr>
    <tr>
        <td>Максимальный вес, фунтов</td>
        <td>66</td>
        <td>66</td>
    </tr>
</table>