<table class="type-1" data-country="Russia" data-weight-type="lbs">
    <thead>
    <tr>
        <td></td>
        <td>Море, на почту</td>
    </tr>
    </thead>
    <tr>
        <td>Минимальный вес посылки, фунтов</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Минимальная стоимость</td>
        <td>$38.90</td>
    </tr>
    <tr>
        <td>Стоимость за 1 фунт</td>
        <td>$1.89</td>
    </tr>
    <tr>
        <td>Максимальный вес, фунтов</td>
        <td>44</td>
    </tr>
</table>