<table class="type-1" data-country="Russia" data-weight-type="kg">
    <thead>
    <tr>
        <td></td>
        <td>Авиа, адресная доставка</td>
    </tr>
    </thead>
    <tr>
        <td>Минимальный вес посылки, кг</td>
        <td>4.54</td>
    </tr>
    <tr>
        <td>Минимальная стоимость</td>
        <td>$62.90</td>
    </tr>
    <tr>
        <td>Стоимость за 1 кг</td>
        <td>$8.36</td>
    </tr>
    <tr>
        <td>Максимальный вес, кг</td>
        <td>29.94</td>
    </tr>
</table>