<table class="type-1" data-country="Kazakhstan" data-weight-type="kg">
    <thead>
    <tr>
        <td></td>
        <td colspan="3">Бандероль</td>
    </tr>
    </thead>
    <tr>
        <td>Минимальный вес посылки, кг</td>
        <td>0.00</td>
        <td>0.23</td>
        <td>0.46</td>
    </tr>
    <tr>
        <td>Минимальная стоимость</td>
        <td>$72.75</td>
        <td>$77.16</td>
        <td>$81.57</td>
    </tr>
    <tr>
        <td>Максимальный вес, кг</td>
        <td>0.20</td>
        <td>0.45</td>
        <td>0.91</td>
    </tr>
</table>