<table class="type-1" data-country="Georgia" data-weight-type="kg">
    <thead>
    <tr>
        <td></td>
        <td colspan="3">Бандероль</td>
    </tr>
    </thead>
    <tr>
        <td>Минимальный вес посылки, кг</td>
        <td>0.00</td>
        <td>0.23</td>
        <!--<td>0.46</td>-->
        <!--<td>0.91</td>-->
        <td>1.37</td>
    </tr>
    <tr>
        <td>Минимальная стоимость</td>
        <td>$66.14</td>
        <td>$74.96</td>
        <!--<td>$79.37</td>-->
        <!--<td>$83.77</td>-->
        <td>$88.17</td>
    </tr>
    <tr>
        <td>Максимальный вес, кг</td>
        <td>0.23</td>
        <td>0.45</td>
        <!--<td>0.91</td>-->
        <!--<td>1.36</td>-->
        <td>1.81</td>
    </tr>
</table>