<table class="type-1" data-country="Kirgizstan" data-weight-type="kg">
    <thead>
    <tr>
        <td></td>
        <td colspan="3">Бандероль</td>
    </tr>
    </thead>
    <tr>
        <td>Минимальный вес посылки, кг</td>
        <td>0.45</td>
        <td>1.37</td>
        <td>1.82</td>
    </tr>
    <tr>
        <td>Минимальная стоимость</td>
        <td>$41.89</td>
        <td>$46.21</td>
        <td>$55.00</td>
    </tr>
    <tr>
        <td>Максимальный вес, кг</td>
        <td>1.36</td>
        <td>1.81</td>
        <td>2.27</td>
    </tr>
</table>