<table class="type-1" data-country="Russia" data-weight-type="lbs">
    <thead>
    <tr>
        <td></td>
        <td colspan="2">Бандероль</td>
    </tr>
    </thead>
    <tr>
        <td>Минимальный вес посылки, фунтов</td>
        <td>0.02</td>
        <td>0.21</td>
    </tr>
    <tr>
        <td>Минимальная стоимость</td>
        <td>$70.55</td>
        <td>$83.77</td>
    </tr>
    <tr>
        <td>Максимальный вес, фунтов</td>
        <td>2.20</td>
        <td>4.41</td>
    </tr>
</table>