<table class="type-1" data-country="Ukraine" data-weight-type="kg">
    <thead>
    <tr>
        <td></td>
        <td colspan="3">Бандероль</td>
    </tr>
    </thead>
    <tr>
        <td>Минимальный вес посылки, кг</td>
        <td>0.00</td>
        <td>0.46</td>
        <td>1.82</td>
    </tr>
    <tr>
        <td>Минимальная стоимость</td>
        <td>$9.07</td>
        <td>$11.34</td>
        <td>$13.61</td>
    </tr>
    <tr>
        <td>Максимальный вес, кг</td>
        <td>0.45</td>
        <td>1.81</td>
        <td>2.27</td>
    </tr>
</table>