<table class="type-1" data-country="Ukraine" data-weight-type="lbs">
    <thead>
    <tr>
        <td></td>
        <td colspan="3">Бандероль</td>
    </tr>
    </thead>
    <tr>
        <td>Минимальный вес посылки, фунтов</td>
        <td>0.01</td>
        <td>1.01</td>
        <td>4.01</td>
    </tr>
    <tr>
        <td>Минимальная стоимость</td>
        <td>$20.00</td>
        <td>$25.00</td>
        <td>$30.00</td>
    </tr>
    <tr>
        <td>Максимальный вес, фунтов</td>
        <td>1</td>
        <td>4</td>
        <td>5</td>
    </tr>
</table>