<table class="type-1" data-country="Uzbekistan" data-weight-type="kg">
    <thead>
    <tr>
        <td rowspan="2"></td>
        <td colspan="2">Бандероль</td>
    </tr>
    <tr>
        <td>Ташкент</td>
        <td>Остальная<br>территория</td>
    </tr>
    </thead>
    <tr>
        <td>Минимальный вес посылки, кг</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <td>Минимальная стоимость</td>
        <td>$61.73</td>
        <td>$77.16</td>
    </tr>
    <tr>
        <td>Максимальный вес, кг</td>
        <td>0.45</td>
        <td>0.45</td>
    </tr>
</table>